body
{background:url('a1.jpg') ;
background-size:cover;
background-attachment:fixed;
font-family:georgia;
}
.wrap{
max-width:550px;
border-radius:20px;
margin:auto;
background:rgba(0,0,0,0.8);
box-sizing:border-box;
padding:50px;
color:#fff;
margin-top:20px;
}
h2
{text-align:center;
}
input[type=text],
input[type=password],
input[type=file],input[type=DATE],
input[type=radio]
{
width:100%;
box-sizing:border-box;
padding:14px 6px;
background:rgba(0,0,0,0.10);
outline:none; 
border:none;
border-bottom:1px dotted #fff;
color:#fff;
border-radius:5px;
margin:5px
font-weight:bold;
}

input[type=submit]{
width:100%;
box-sizing:border-box;
padding:10px 0;
background:#60adde;
outline:none; 
border:none;
color:#fff;
opacity:0.7;
border-radius:20px;
margin-top:30px
font-size:20px;
}
input[type=submit]:hover{
background:#003366;
opacity:0.7;
}


input[type=button]{
width:10%;
box-sizing:border-box;
padding:7px 0px;
background:#60adde;
outline:none; 
border:none;
color:#fff;
opacity:1;
border-radius:10px;
margin-top:30px
font-size:25px;
}