body
{background:url('a99.jpg') ;
background-size:cover;
background-attachment:fixed;
font-family:georgia;
}

.d1{
max-width:1100px;
border-radius:20px;
margin:auto;
background:rgba(0,0,0,0.8);
box-sizing:border-box;
padding:10px;
color:#fff;
margin-top:10px;
}

.d2,.d3,.d4{
max-width:1800px;

border-radius:2px;
margin:auto;
background:rgba(0,0,0,0.4);
box-sizing:border-box;
padding:20px;
color:#fff;
margin-top:20px;
font-size:25px;
font-weight:bold;
width:1400px;
height:650px;
}





















